.wpds-text {
  font-family: var(--wpds-font-family-body);
  font-weight: var(--wpds-font-weight-regular);
  color: var(--wpds-color-text);
  margin: 0;
}

.wpds-text--xSmall {
  font-size: var(--wpds-font-size-x-small);
  line-height: var(--wpds-line-height-x-small);
}
.wpds-text--small {
  font-size: var(--wpds-font-size-small);
  line-height: var(--wpds-line-height-small);
}
.wpds-text--body {
  font-size: var(--wpds-font-size-medium);
  line-height: var(--wpds-line-height-medium);
}
.wpds-text--large {
  font-size: var(--wpds-font-size-large);
  line-height: var(--wpds-line-height-large);
}
.wpds-text--xLarge {
  font-size: var(--wpds-font-size-x-large);
  line-height: var(--wpds-line-height-x-large);
  font-family: var(--wpds-font-family-headings);
}
.wpds-text--2xLarge {
  font-size: var(--wpds-font-size-2x-large);
  line-height: var(--wpds-line-height-2x-large);
  font-family: var(--wpds-font-family-headings);
}

.wpds-text--regular {
  font-weight: var(--wpds-font-weight-regular);
}
.wpds-text--medium {
  font-weight: var(--wpds-font-weight-medium);
}

.wpds-text--muted {
  color: var(--wpds-color-text-muted);
}
