/*
 * Radius tokens
 * Source: @wordpress/base-styles/_variables.scss
 */
:root {
  --wpds-radius-x-small: 1px;
  --wpds-radius-small: 2px;
  --wpds-radius-medium: 4px;
  --wpds-radius-large: 8px;
  --wpds-radius-full: 9999px;
  --wpds-radius-round: 50%;
}
